h1 {
    text-align: center;
}
p {
    text-align: center;
}
.alphabet {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    margin-top: 20px;
}

button.disable {
    background-color: black;
}