body {
    background-image: url('https://png.pngitem.com/pimgs/s/231-2314271_transparent-sprinkles-confetti-illustration-hd-png-download.png');
    background-size: cover;
    
}
h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 45px;
}
p {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 25px;
}
.forCSS {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
}
.leftSide {
    grid-column: 1/2;
    grid-row: 1/4;
}
.middleBoard {
    grid-column: 2/3;
    grid-row: 1/4;

}

.right {
grid-column: 3/4;
grid-row: 1/4;
}



.lives {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-decoration:underline;
    margin-top: 25%;
    margin-left: 25%;
}
.lives1 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    margin-left: 45%;
    margin-top: -10%;
}

#gameOverText {
    font-family: 'Rock Salt', cursive;
}

img {
    align-items: center;
}

#play {
    justify-self: end;
    position: fixed;
    left: 47%;
}

.dashes {
    margin-top: 25%;
    font-size: 75px;
   
}

.alphabet {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    margin-top: 20%;
    margin-left: 30px;
}
.alph {
    opacity: 1;

}

.alph button:focus {
opacity: 0;
}